.register {
  height: 100vh;
  background: lightskyblue;
}

.mess {
  height: 370px;
  overflow-y: scroll;
}

.segment_form {
  position: fixed !important;
  margin-left: 310px !important;
  z-index: 200;
  left: 0;
  right: 0;
}

.message_self {
  border-left: 2px solid violet;
  padding-left: 8px;
}

.mess_image {
  padding: 5px;
}

.text-mess {
  margin-bottom: 10px;
  padding: 0;
}

.menu {
  padding-bottom: 2em;
}
