.register {
  height: 102vh;
  background: lightskyblue;
}

.mess {
  height: 370px;
  overflow-y: scroll;
}

.segment_form {
  position: fixed !important;
  margin-left: 310px !important;
  z-index: 200;
  left: 0;
  right: 0;
}

.message_self {
  border-left: 2px solid violet;
  padding-left: 8px;
}

.mess_image {
  padding: 1em;
}
